<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Alibek Zhakubayev
              </h1>
              <p>I am a PhD Candidate in Computer Science at <a href="https://www.baylor.edu/">Baylor University</a>, advised by <a href="https://cs.baylor.edu/~hamerly/">Dr. Greg Hamerly</a>. My dissertation work aims to accelerate the k-means clustering algorithm while preserving its quality. This involves the integration of probability, geometric heuristics, and dimensionality reduction techniques to improve the efficiency of the k-means process.</p>
              
              <p>In addition to my dissertation, I am part of <a href="https://cs.baylor.edu/~benton/about.html">Dr. Benton's bioinformatics lab</a>, where we apply machine learning techniques to study the effects of alcohol on bones.</p>
              
              <p>I earned my Undergraduate and Master's degrees in Computer Science from <a href="https://nu.edu.kz/">Nazarbayev University</a>. <a href="https://user.ceng.metu.edu.tr/~yazici/">Dr. Adnan Yazici</a> was my advisor during my Master's studies, where my thesis focused on real-time activity recognition.</p>



              <p style="text-align:center">
                <a target="_blank" href="alibek_zhakubayev1@baylor.edu"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/alibeklfc">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=W3yumCcAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/alibek-zhakubayev/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/Alibek_Zhakubayev-modified.png">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <p>
                More information will be added soon.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Adapted from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman's </a> fork of <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

